.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }
  
  .title {
    text-align: center;
    font-size: 7em;
    margin-bottom: 55px;
    margin-top: 55px;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-family: Iceland;
    animation: neon2 3s ease-in-out infinite alternate;
    text-shadow:  0 0 8px #9146ff,
        0 0 8px #9146ff, 0 0 8px #9146ff, 0 0 8px #9146ff, 0 0 8px #9146ff;
    
  }
  @media (max-width: 650px) {
    .title {
      font-size: 3.5em;
    }
  }

  .ScheduleGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .datePickerContainer {
    width: 450px;
  }
  
  @media (max-width: 650px) {
   
    .datePickerContainer {
      width: 250px;
    }
  }