@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 5em;
  margin-bottom: 55px;
  margin-top: 55px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  font-family: Iceland;
}

.secondWord{
  text-align: center;
  text-decoration: none;
  color: #9146ff;
  font-family: Iceland;
}

/* @keyframes neon2 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #9146ff,
    0 0 5px #9146ff, 0 0 5px #9146ff, 0 0 5px #9146ff, 0 0 5px #9146ff;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 10px #9146ff,
      0 0 10px #9146ff, 0 0 10px #9146ff, 0 0 10px #9146ff, 0 0 10px #9146ff;
  }
} */

@media (max-width: 650px) {
  .title {
    font-size: 3.5em;
  }
}

.ScheduleGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.datePickerContainer {
  width: 450px;
}

@media (max-width: 650px) {
  .datePickerContainer {
    width: 250px;
  }
  .presentationContainer {
    width: 100%;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  border-top: 1px dashed #5ddcff;
  border-bottom: 1px dashed #5ddcff;
}

.presentationContainer {
  width: 50%;
  min-height: 50%;
  color: white;
  text-align: justify;
  font-size: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}
.contactContainer {
  width: 50%;
  min-height: 50%;
  color: white;
  text-align: center;
  font-size: 16px;
}
.twitter{
  height: 120px;
  width: 120px;
  color: white;
  background-color: #18191f;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin:  60px;
  animation: animate 5s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
  cursor: pointer;
}


@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 650px) {
  .presentationContainer {
    width: 70%;
    text-align: center;
    font-size: 13px;
  }
}

.footer {
  color: white;
  text-align: center;
  height: 50px;
  padding-bottom: 30px;
  
}

