.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }
  
  .title {
    line-height: 1.15;
    font-size: 4rem;
  }